body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}
.input-new{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .btn-new{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  img.avatar {
    width: 16%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  .container-form {
   padding: 14px;
  }
  /* The Modal (background) */

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #faf1f1;
    /* margin: 5% auto 15% auto;  */
    margin: 10% 13%;
    border: 2px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .form-heading {
    text-align: center;
  }
 /* Add this to your CSS file, e.g., app/assets/stylesheets/application.css or application.scss */
.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  color: black; /* Set the default text color */
}

.form-control option {
  color: black; /* Set the text color for options */
}

.form-control:hover,
.form-control option:hover {
  background-color: #007bff; /* Set the background color on hover */
  color: rgb(212, 11, 11) !important; /* Set the text color on hover with !important to ensure it takes precedence */
}

.styled-table {
  border-collapse: collapse;
  margin:25px 0;
  font-size: 1.1em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(158, 46, 46, 0.856); 
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
/* Style odd rows in the table body */
.styled-table tbody tr:nth-of-type(odd) {
  background-color: #eaeaea; /* Slightly darker shade */
}
.link {
text-decoration: none;
align-content: center;
cursor: pointer;
color: green;
}
link:hover {
  color: hotpink;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
h1{
  text-align: center;
}
.link {
  text-align: center; 
}

.link {
  text-align: center; /* Align the link within the paragraph */
}

.attractive-link {
  display: inline-block;
  background-color: #009879; 
  text-decoration: none;
  color: #ffffff; 
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;

}


.attractive-link:hover {
  background-color: #02443b; /* Change background color on hover */
}  
.itmes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 25px rgba(158, 46, 46, 0.856); 

}
p{
  font-size: larger;
  font-weight: 200px;
  line-height: 20px;
  color: #0f0101;
}